################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoftwareEngineeringP1Solution/.vs/SoftwareEngineeringP1Solution/v14
