@model List<SoftwareEngineeringP1.Models.Users>
@model SoftwareEngineeringP1.Models.AspNetUsers
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<div>
    @User.Identity.Name;
</div>
<script type="text/javascript">
 
</script>