@model SoftwareEngineeringP1.Models.Flight
    
@* View that represents and presents the view for a single flight.
    Could be changed to preform both the admin, user, and guest functionality. *@

<div>
    @Model.Name
</div>