@{
    ViewBag.Title = "Home Page";
}
@model SoftwareEngineeringP1.Models.SearchPageForm
<head>
    <style>
        #banner {
            position:absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 200px;
            z-index: -1;
        }
    </style>
</head>
<body>
    <img id="banner" src="~/Images/flight_banner.jpg" alt="Banner Img" />
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@if (User.IsInRole("Admin"))
{
    <form method="post" id="addFlightForm" action="/Home/AddFlights">
        <div class="row">
            @* This is a section of the page that only the Admin can see to make inputs to add a new flight. *@
                <div class="form-group col-md-3">
                    Starting Id Number:
                    <input type="text" class="form-control " id="startingIdNumber" name="startingIdNumber" placeholder="Starting Id Number"/>
                </div>
                <div class="form-group col-md-3">
                    Ending Id Number:
                    <input type="text" class="form-control" id="endingIdNumber" name="endingIdNumber" placeholder="Ending Id Number"/>
                </div>
                <div class="form-group col-md-2">
                    Flight Time:
                    <input type="text" class="form-control" id="newFlightTime" name="time" placeholder="Flight Time"/>
                </div>
                <div class="form-group col-md-2">
                    Price:
                    <input type="text" class="form-control" id="newFlightPrice" name="price" placeholder="New Flight Price"/>
                </div>
            <div class="form-group col-md-2 bottom">
                <button type="submit" class="btn btn-primary">Add Flight</button>
            </div>
        </div>
    </form>
}

<div id="flightViewContainer"></div>
<form method="post" id="searchForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-inline">
                <div class="form-group">
                    Country: 
                    <input type="text" Name="Country" placeholder="Country" class="form-control"/>
                </div>
                <div class="form-group">
                    Start City:
                    <input type="text" class="form-control" id="st-flight" Name="StartCity" placeholder="Start Location"/>
                </div>
                <div class="form-group">
                    Destination City:
                    <input type="text" class="form-control" id="dt-flight" Name="DestinationCity" placeholder="Destination"/>
                </div>
                <div class="checkbox">
                    <button type="submit" id="searchFlights" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br/>
<div id="resultsTable">
</div>
@* This is a section for building scripts for the page. These are loaded at the end so JQuery is already loaded. *@
@section scripts {

    <script type="text/javascript">

        // This should be checked for correctness. 
        $(document).ready(function () {
            
            $.ajax({
                url: "/Home/SearchFlights",
                data: $("#searchForm").serialize(),
                method: "POST",
                success: function (result) {
                    $('#resultsTable').html(result);
                }
            });

            // Ajax method that calls the searching method, and repopulates the results of the table. 
            $('#searchFlights').on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/Home/SearchFlights",
                    data: $("#searchForm").serialize(),
                    method: "POST",
                    success: function(result) {
                        $('#resultsTable').html(result);
                    }
                });
            });
        });
    </script>
}